@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    @apply font-primary font-normal;
}

.container {
    width: min(100% - 50px, 1140px);
    margin-inline: auto;
}

.site-logo {
    @apply font-bold text-primary-blue text-xl;
}

.active-dot {
    @apply bg-primary-blue w-[5px] h-[5px] rounded-full;
}

.footer-title {
    @apply font-bold text-lg py-3;
}

.footer-subtitle {
    @apply font-semibold text-small-text;
}

.footer-contact {
    @apply mb-3 text-small-text;
}

.footer-contact-title {
    @apply font-semibold;
}
